.list-inline li {
    display: inline-block;
    padding: 0 5px;
}
.btn {
    background-color: #f3f3f3;
    border: 2px solid transparent;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.12em;
    line-height: 16px;
    margin-bottom: 0;
    outline: none !important;
    padding: 5px 7px;
    text-align: center;
    text-transform: uppercase;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;

    &.btn-xl {
        font-size: 14px;
        letter-spacing: 0.12em;
        line-height: 16px;
        padding: 10px 20px;
    }
    &.start {
        background-color: #16a085;
        color: #fff;

        &:hover,
        &:focus {
            background-color: darken(#16a085, 10%);
        }
    }
    &.stop {
        background-color: #e74c3c;
        color: #fff;

        &:hover,
        &:focus {
            background-color: darken(#e74c3c, 10%);
        }
    }
    &.reset {
        background-color: #3498db;
        color: #fff;

        &:hover,
        &:focus {
            background-color: darken(#3498db, 10%);
        }
    }
    &.muted {
        cursor: default;
        opacity: 0.25;
    }
}