@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap');
</style>

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.NavbarItems {
 display: flex;
 justify-content: space-between;
 align-items: center;
 background: linear-gradient(90deg, rgb(63, 101, 252) 0%, rgb(187, 100, 228) 100%);
 height: 80px;
}


.navbar-logo {
 margin-left: 2rem;
 color: white;
 font-size: 30px;
 font-weight: bolder;
}


.nav-menu {
 display: flex;
 margin: 25px;
 list-style: none;
}


li {
 margin: 0 1rem;
}

.nav-links {
 font-family: 'Poppins', sans-serif;
 text-decoration: none;
 color: white;
}